.custom-button {
  width: 199px;
  height: 60px;
  border-radius: 38px;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 20px;
  border: 0;
  cursor: pointer;

  &.gradient {
    background: linear-gradient(98.68deg, #02eeff -39.07%, #c926a6 116.2%);
    color: white;
  }

  &.white {
    background: white;
    color: #706fe5;
  }
}
