.gt {
  font-weight: 700;
  font-size: 64px;
  background: -webkit-linear-gradient(#00f0ff, #ab44b4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
